$grey: #f4f4f4;
$regularText: #0f2526;
$lightGreen: #79ac85;

p,
h1,
h2,
h3,
h4,
h5,
div,
span {
  color: $regularText;
}
.MuiSvgIcon-colorPrimary {
  color: $lightGreen !important;
}
.landing-paper {
  background-color: $grey !important;
  color: $regularText !important;
  margin: auto !important;
  margin-top: 10vh !important;
  width: 60vw !important;
}
button:hover,
svg:hover,
.MuiTypography-root:hover {
  color: $lightGreen;
}

.MuiAppBar-root {
  background-color: $grey !important;
  color: $regularText;
}
.product-description:hover {
  color: $regularText!important;
  cursor: pointer;

}

:not(:root):fullscreen::backdrop {
  background: white !important;
}

.currency {
  color: red;
}
