$grey: #f4f4f4;
$regularText: #0f2526;
$lightGreen: #79ac85;

p,
h1,
h2,
h3,
h4,
h5,
div,
span {
  color: $regularText;
}
.MuiSvgIcon-colorPrimary {
  color: $lightGreen !important;
}
.landing-paper {
  background-color: $grey !important;
  color: $regularText !important;
  margin: auto !important;
  margin-top: 1vh !important;
  width: 80vw !important;
}
button:hover,
svg:hover,
.MuiTypography-root:hover {
  color: $lightGreen;
}

.MuiAppBar-root {
  background-color: $grey !important;
  color: $regularText;
}
.product-description:hover {
  color: $regularText !important;
  cursor: pointer;
}

:not(:root):fullscreen::backdrop {
  background: white !important;
}

.currency {
  color: red;
}
.full-page-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.full-page-loader > img {
  animation: 1.8s infinite heartbeat;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#clickable_typography {
  cursor: pointer;
}

#no-hover {
  pointer-events: none;
}
